.module {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.content {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    min-width: 500px;
}

.module.active {
    display: flex;
    justify-content: center;
    align-items: center;
}